<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Email" value="ast_1986_vgo@hotmail.com" />
    <add key="SMTP" value="relay-hosting.secureserver.net" />
    <add key="User" value="ricardo@idevware.com" />
    <add key="Pass" value="Rcrdvrdg_1986" />
  </appSettings>
  <connectionStrings>
    <!--<add name="csGEZI" connectionString="Data Source=gezimx.db.9877533.hostedresource.com; Initial Catalog=gezimx; User ID=gezimx; Password=Idevware11;" />-->
    <!--<add name="csGEZI" connectionString="Data Source=gezi.db.8048493.hostedresource.com; Initial Catalog=gezi; User ID=gezi; Password=Idevware11;" />-->
    <add name="csGEZI" connectionString="Data Source=Michelle-PC\sqlexpress;Initial Catalog=GEZI;Persist Security Info=True;User ID=sa;Password=0padmemichel" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<customErrors defaultRedirect="~/Errors/ErrorGenerico.aspx" redirectMode="ResponseRewrite" mode="On">
      <error statusCode="404" redirect="~/Errors/Error404.aspx" />
      <error statusCode="500" redirect="~/Errors/Error500.aspx" />
    </customErrors>-->
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Login.aspx" name="adAuthCookie" slidingExpiration="true" timeout="15" defaultUrl="~/Admin/Inicio_Admin.aspx"></forms>
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <location path="Carreras.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Caracterisiticas.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Encuesta.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Inicio_Admin.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="LlenadoEncuesta.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Site.master">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Registro.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>